{{/* boolean feature tags */}}
{{- $personal := false -}}{{/* true if this is a personal machine */}}
{{- $headless := false -}}{{/* true if this machine does not have a screen and keyboard */}}
{{- $wsl := false -}}{{/* true if this is a WSL vm */}}
{{- "" -}}

{{/* detect GitHub codespaces, Coder remote, VSCode remote containers, Docker containers, Multipass VMs, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode") (env "CODER") -}}
{{-   $headless = true -}}
{{-   $personal = true -}}
{{- end -}}

{{/* detect WSL */}}
{{- if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{-   $wsl = true -}}
{{-   $personal = true -}}
{{- end -}}

{{- $name := "NNMavy" -}}
{{- $email := "3441334+NNMavy@users.noreply.github.com" -}}

format: yaml
verbose: true
data:
  name: {{ $name | quote }}
  email: {{ $email | quote }}

  # git
  git_username: {{ $name | quote }}
  git_email: {{ $email | quote }}
  git_signing_key: "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDZ/Tn0MifZtxPMhWpPtRzjXMeHKcFAYXvGKMuhPRbRxST8e2JQZ8j/5uCDRh8jXI4EYCZGtgHemuekiAsJBUvWpDImUGqySSot6gWkDnAlyEt2GUDdWByqjI6hlIXXrxqk6SSI8WCU7NnyIJj9INBK3+2dKr6pkoz3Eoneo7qfryxI8IOPFJeTFEOt2+8FPew3PtAwDeydR29/kIjGMXlidZC2w0ILmGjkkbYpgVMTUKIRBmsTjLy4wMp7Dr7H88DhJbLVC4fwv/LNlXoUOoFkYTNj/reT1OtBPZurmIQ6/28xPDFBmFZ++yVfQMrur/F9Z70dX3hYm+IOOZIC0hxL"

  personal: {{ $personal | quote }}
  headless: {{ $headless }}
  wsl: {{ $wsl }}
