#!/usr/bin/env bash
{{ if (eq .chezmoi.os "linux") }}
# ---------------------------------------------------------------------------------------------------------------------
# Install nix packages
# ---------------------------------------------------------------------------------------------------------------------

curl --proto '=https' --tlsv1.2 -L https://nixos.org/nix/install | sh -s -- --no-daemon

{{- end }}
