#!/usr/bin/env bash
{{ if (eq .chezmoi.os "linux") }}
# ---------------------------------------------------------------------------------------------------------------------
# Add fish shell
# ---------------------------------------------------------------------------------------------------------------------
! grep -q fish /etc/shells && sudo sed -i '$a/home/linuxbrew/.linuxbrew/bin/fish' /etc/shells

{{- end }}
