#!/usr/bin/env bash

if ! command op &> /dev/null
then
  echo "Installing 1pass cli..."
  wget "https://cache.agilebits.com/dist/1P/op2/pkg/v2.30.3/op_linux_amd64_v2.30.3.zip" -O op.zip && \
  unzip -d op op.zip && \
  mv op/op ~/.local/bin && \
  rm -r op.zip op && \
  sudo chmod g+s ~/.local/bin/op
else
  echo "1Password already installed"
fi
