"$schema" = 'https://starship.rs/config-schema.json'

add_newline = false
command_timeout = 1000
format = "$username$hostname$directory$git_branch$git_status$direnv$mise$fill$python$status$cmd_duration$line_break$character"

[character]
error_symbol = "[](green)"
success_symbol = "[](green)"
vicmd_symbol = "[](purple)"

[cmd_duration]
format = "took [$duration]($style) "
min_time = 2000
style = "yellow"
disabled = false

[direnv]
format = "[$symbol]($style)"
style = "blue"
symbol = "  "
disabled = false

[mise]
format = "[$symbol]($style)"
symbol = "  "
disabled = false

[directory]
fish_style_pwd_dir_length = 1
format = "[$path]($style)[$read_only]($read_only_style) "
read_only = " "
style = "blue"
truncate_to_repo = true
truncation_length = 3
truncation_symbol = "../"
disabled = false

[fill]
symbol = " "

[git_branch]
format = "on [$symbol$branch]($style) "
style = "purple"
symbol = " "
disabled = false

[git_status]
ahead = " "
behind = " "
conflicted = " "
deleted = " "
diverged = "󰆗 "
format = "([$all_status$ahead_behind]($style) )"
modified = " "
renamed = " "
staged = " "
stashed = " "
style = "purple"
untracked = " "
up_to_date = " "
disabled = false

[hostname]
format = "[@$hostname]($style) in "
ssh_only = true
style = "green"
disabled = false

[python]
format = "[${symbol}${pyenv_prefix}(${version} )(($virtualenv) )]($style)"
symbol = "🐍 "
disabled = false

[status]
disabled = false
format = "[$symbol]($style) "
style = "red"
success_symbol = " "
symbol = " "

[username]
format = "[$user]($style)"
show_always = false
style_root = "red"
style_user = "yellow"
disabled = false