#####################
# Brewfile contents #
#####################
## Taps
tap "cloudflare/cloudflare"
tap "go-task/tap"
tap "fluxcd/tap"
tap "derailed/k9s"
tap "siderolabs/talos"

brew "age"
brew "atuin"
brew "bash"
brew "bat"
brew "chezmoi"
brew "coreutils"
brew "curl"
brew "direnv"
brew "doggo"
brew "eza"
brew "findutils"
brew "fish"
brew "gawk"
brew "gh"
brew "git"
brew "glances"
brew "go-task/tap/go-task"
brew "gnu-sed"
brew "gum"
brew "helm"
brew "helmfile"
brew "helm-docs"
brew "helm-ls"
brew "jq"
brew "just"
brew "derailed/k9s/k9s"
brew "kubernetes-cli"
brew "krew"
brew "kubecolor"
brew "kustomize"
brew "lazygit"
brew "minijinja-cli"
brew "mise"
brew "neovim"
brew "pre-commit"
brew "ripgrep"
brew "shellcheck"
brew "sops"
brew "starship"
brew "stern"
brew "talosctl"
brew "viddy"
brew "wget"
brew "yamlfmt"
brew "yamllint"
brew "yq"
brew "zoxide"
brew "fluxcd/tap/flux"

vscode "catppuccin.catppuccin-vsc"
vscode "catppuccin.catppuccin-vsc-icons"
vscode "editorconfig.editorconfig"
vscode "FanaticPythoner.better-todo-tree"
vscode "fnando.linter"
vscode "golang.go"
vscode "helm-ls.helm-ls"
vscode "hverlin.mise-vscode"
vscode "ionutvmi.path-autocomplete"
vscode "jinliming2.vscode-go-template"
vscode "luisfontes19.vscode-swissknife"
vscode "ms-azuretools.vscode-docker"
vscode "ms-kubernetes-tools.vscode-kubernetes-tools"
vscode "ms-python.debugpy"
vscode "ms-python.python"
vscode "ms-python.vscode-pylance"
vscode "ms-vscode-remote.remote-containers"
vscode "ms-vscode-remote.remote-ssh"
vscode "ms-vscode.remote-explorer"
vscode "ndonfris.fish-lsp"
vscode "nefrob.vscode-just-syntax"
vscode "orta.vscode-jest"
vscode "oxc.oxc-vscode"
vscode "redhat.vscode-yaml"
vscode "rooveterinaryinc.roo-cline"
vscode "samuelcolvin.jinjahtml"
vscode "savh.json5-kit"
vscode "tamasfe.even-better-toml"
vscode "eamodio.gitlens"
vscode "shipitsmarter.sops-edit"
