#####################
# Brewfile contents #
#####################
## Taps
tap "cloudflare/cloudflare"
tap "go-task/tap"
tap "fluxcd/tap"
tap "derailed/k9s"
tap "siderolabs/talos"

brew "age"
brew "atuin"
brew "bash"
brew "bat"
brew "chezmoi"
brew "coreutils"
brew "curl"
brew "direnv"
brew "doggo"
brew "eza"
brew "findutils"
brew "fish"
brew "gawk"
brew "gh"
brew "git"
brew "glances"
brew "go-task/tap/go-task"
brew "gnu-sed"
brew "gum"
brew "helm"
brew "helmfile"
brew "helm-docs"
brew "helm-ls"
brew "jq"
brew "just"
brew "derailed/k9s/k9s"
brew "kubernetes-cli"
brew "krew"
brew "kubecolor"
brew "kustomize"
brew "lazygit"
brew "minijinja-cli"
brew "mise"
brew "neovim"
brew "pre-commit"
brew "ripgrep"
brew "shellcheck"
brew "sops"
brew "starship"
brew "stern"
brew "talosctl"
brew "viddy"
brew "wget"
brew "yamlfmt"
brew "yamllint"
brew "yq"
brew "zoxide"
brew "fluxcd/tap/flux"
