set -gx MEMINI_BASE_URL "https://memini.codewalker.dev"
set -gx MEMINI_MCP_URL "https://memini.codewalker.dev/mcp"
set -gx MEMINI_API_KEY "{{ onepasswordRead "op://automation/memini/api_key" "ZFE2PU2WABBCTAJTJQ562MG7FU" }}"

