set -gx MEMINI_BASE_URL "https://memini.nnhome.eu"
set -gx MEMINI_MCP_URL "https://memini.nnhome.eu/mcp"
set -gx MEMINI_API_KEY "{{ onepasswordRead "op://kubernetes/memini/api_key" "GCGYJGIM6BEINNEX6N3TE4M47A" }}"

